<h1>Welcome to your budget dashboard!</h1>

<h2>Dashboard</h2>
<div style="width: 800px;"><canvas id="expenses-chart"></canvas></div>

<h2>Categories</h2>

{{#if Category.length}}
  <ul>
    {{#each Category}}
      <li>
        <a href="/categories/{{id}}">{{name}}</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No categories found</p>
{{/if}}

<h2>Goals</h2>

{{#if Goals.length}}
  <ul>
    {{#each Goals}}
      <li>
        <a href="/goals/{{id}}">{{name}}</a>
        <p>Target amount: ${{targetAmount}}</p>
        <p>Target amount: ${{currentAmount}}</p>
        <p>Deadline: {{deadline}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No goals found</p>
{{/if}}

<h2>Expenses</h2>

{{#if Expenses.length}}
  <ul>
    {{#each Expenses}}
      <li>
        <p>Amount: ${{amount}}</p>
        <p>Date: {{date}}</p>
        <p>Category: {{Category.name}}</p>
        <p>User: {{User.user_id}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No expenses found</p>
{{/if}}

<script src="/js/logout.js"></script>

<script type="module" src="/js/pieChart.js"></script>